[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pylint = "*"

[packages]
django = "==3.0.14"
django-extensions = "*"
ipython = "*"
notebook = "*"
whitenoise = "*"
django-cors-headers = "*"
django-rest-framework = "*"
graphene = "*"
graphene-django = "*"
django-filter = "*"
